.country {
    stroke: #999;
    stroke-width: 0.5;
}

.bound {
    cursor: crosshair;
}

.bubble {
    stroke-width: 0.8;
    stroke: rgba(0,0,0,0.3);
}

#map .bubble:hover {
    stroke: rgba(0,0,0,0.6);
    stroke-width: 1.2;
    cursor: crosshair;
}

#console {
    position: relative;
    width: 540px;
    margin: 0 auto;
}

/*#scrubber {
    float: left;
}

#encoder {
float: right;
}*/

#map {
    cursor: grab;
}

#map:active {
    cursor: grabbing;
}

#attribution {
    pointer-events: none;
}

form output {
    font-weight: bold;
    font-size: 14px;
}